*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: hsl(217, 54%, 11%)
}

.main-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.card{
    background-color: #14253d;
    -webkit-box-shadow: -7px 3px 45px 19px rgba(0,0,0,0.69);
-moz-box-shadow: -7px 3px 45px 19px rgba(0,0,0,0.69);
box-shadow: -7px 3px 45px 19px rgba(0,0,0,0.69);
}

.card-title{
    font-weight: 500;
}

.card-text{
    color: #8bacda;
    font-weight: 300;
   
}
.clock{
    margin-top: 2px;
}
   
.img-shape{
    border-radius: 7%;
    padding: 4%;
}

.eth-text{
    color: #00fff7;
}
.creator{
    border-top: 1px solid hsl(215, 32%, 27%);
}

.creator-img{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 10%;
}

.creator-text{
    margin-top: 10%;
    margin-left: 8%;
    color: #8bacda;
    font-weight: 300;
}
 .creator-text span{
    color: white;
 }


